@use '../../styles/colors';

.intro {
  margin-top: 68px;
}

.user {
  font-size: 3em;
}

.firstname {
  display: inline-block;
  color: colors.$color-primary;
}

.welcomeMessage {
  font-size: 1.125em;
  font-weight: 400;
  margin-top: 40px;
}

.informations {
  margin-top: 77px;
  display: flex;
}

.charts {
  flex: 1 1 auto;
  padding-right: 15px;
}

.keys {
  flex: 1 0 auto;
  padding-left: 15px;
}

.chartsGroup {
  margin-top: 30px;
}