$color-primary: #FF0101;
$color-secondary: #020203;
$color-text-dark:  #282D30;
$color-text-light: #74798C;
$color-light-grey: #FBFBFB;

$color-light-red: rgba(#F00, .07);
$color-light-blue: rgba(#4AB8FF, .1);
$color-light-yellow: rgba(#F9CE23, .1);
$color-light-pink: rgba(#FD5181, .1);